{% extends "layout.html" %}
{% block content %}

	<form class="form-signin" method=post enctype=multipart/form-data >
		<img src="{{url_for('static', filename='cartoon-cute-cats-playing-computer-vector-removebg (1).png')}}" align="middle" width="650" />
		<h1 class="h1 mb-3 font-weight-normal" style="font-family: 'Times New Roman', serif; color: black;"> The breed of your cat is : {{ name }}</h1>
		<h2 class="h2 mb-3 font-weight-normal" style="font-family: 'Times New Roman', serif; color: black;"> Confidence: {{ confidence }}</h2>
		<h3 class="h5 mb-3 font-weight-normal" style="font-family: 'Times New Roman', serif; color: black;"> {{ description }} </p>

		<br />
		<p class="mt-5 mb-3" style="font-family: 'Times New Roman', serif; color: black;">Deep Learning Final Project</p>
		<div class="row">
			<div class="col-sm-4 align-self-center"><img src="/static/pt.png" alt="" width="60"></div>
			<div class="col-sm-4 align-self-center"><img src="/static/flask.png" alt="" width="90"></div>
			<div class="col-sm-4 align-self-center"><img src="/static/bs.png" alt="" width="50"></div>
		</div>
	</form>
{% endblock %}
